@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
      font-family: "Poppins", sans-serif;
}
a {
    text-decoration: none;
}
.container {
    max-width: 1110px;
    margin: 0 auto;
}
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.logo {
   
    margin: 10px;
    text-transform: uppercase;
    font-size: 30px; 
    font-weight: 800;
    color: #1877c9;
}
.links a {
   
    margin: 10px;
    text-transform: uppercase;
    font-size: 22px;
}

.cart {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #1877c9;
    color: #fff;
    padding: 10px;
    font-size: 24px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart a {
    text-decoration: none;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}

.card {
    width: 100%;
    height: 500px;
    position: relative;
    background-color: #fff;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2) ;
    border-radius: 20px;
}
.card .info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffff;
    padding: 20px 0;
    background:  linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1));
    border-radius: 0px 0px 10px 10px;
}

.card span {
    font-size:1.75rem ;
    margin: 10px;
}
.btn {
    position: absolute;
    width: 50px;
    height: 50px;
    padding: 10px 15px;
    background-color: #1877c9;
    color: #fff;
    border: 0;
    right: 10px;
    cursor: pointer;
    border-radius: 50%;
    margin-top: 10px;
}

.btn-secondary {
    background-color: rgb(231, 74, 74);
}
.btn-primary {
    background-color: rgb(98, 98, 226);
}
.Delete {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 500;
}

.cart-container  {
    background-color: #fff;
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: 2fr 1fr;
    border-radius: 10px;
    grid-gap: 20px;
    padding: 30px;
    place-items: center;
}
.cart-products {
    display: flex;
    align-items: center;
  flex-direction: column;
  width: 95%;
  padding: 20px;
  border-right: 1px solid #ccc;
}
.cart-product {
    padding: 10px;
    width: 95%;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    border-top: 1px solid #ccc;
    place-content: center;
}
.cart-product img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #ccc;
    padding: 10px;
}
.cart-product span {
    font-size: 1.2rem;
    font-weight: 500;
}

.cart-title-img {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;

}
.cart-title-img * {
    padding: 0 10px;
}
.total-price {
    border-top: 1px solid #ccc;
}